#ui
ui/node_modules/
ui/.env
ui/.next/
ui/out/

#api
api/target/
api/.env

#general
instructions/
agent/
.github/

#release
release_v*/

#db
sakkath.db

#specs
specs/

teams.csv

sakkath.db-shm
sakkath.db-wal